<template name="footer">
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2016 My Trang Hong
                <div class="right data_protection">
                    <a class="grey-text text-lighten-3 modal-trigger" href="#Impressum">Impressum</a>
                    <a class="grey-text text-lighten-3 modal-trigger" href="#Privacy">Privacy</a>
                </div>
            </div>
        </div>

        <div id="Impressum" class="modal">
            <div class="modal-content">
                <h5>Impressum</h5>
                <p class="title">Legal Disclosure</p>
                <p>Information in accordance with section 5 TMG</p>

                Max Muster
                Musterstrasse 123/1
                Haus A
                05678 Musterstadt
                Contact

                Telephone: +49 12345/67899-
                Fax: +49 12345/67899-
                E-Mail: max.muster@mail.de
                Internetaddress: http://www.twigg.de
                Disclaimer

                <p class="title">Accountability for content</p>
                The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this context, please note that we are accordingly not obliged to monitor merely the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).

                <p class="title">Accountability for links</p>
                Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective link immediately.

                <p class="title">Copyright</p>
                Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law (§ 44a et seq. of the copyright law), every form of utilizing, reproducing or processing works subject to copyright protection on our web pages requires the prior consent of the respective owner of the rights. Individual reproductions of a work are allowed only for private use, so must not serve either directly or indirectly for earnings. Unauthorized utilization of copyrighted works is punishable (§ 106 of the copyright law).
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>

        <div id="Privacy" class="modal">
            <div class="modal-content">
                <h5>Privacy Statement</h5>
                <p class="title">General</p>

                <p>Your personal data (e.g. title, name, e-mail address) are processed by us only in accordance with the provisions of German data privacy laws. The following provisions describe the type, scope and purpose of collecting, processing and utilizing personal data. This data privacy policy applies only to our web pages. If links on our pages route you to other pages, please inquire there about how your data are handled in such cases.
                Inventory data</p>

                <p>(1) Your personal data, insofar as these are necessary for this contractual relationship (inventory data) in terms of its establishment, organization of content and modifications, are used exclusively for fulfilling the contract. For goods to be delivered, for instance, your name and address must be relayed to the supplier of the goods.</p>
                <p>(2) Without your explicit consent or a legal basis, your personal data are not passed on to third parties outside the scope of fulfilling this contract. After completion of the contract, your data are blocked against further use. After expiry of deadlines as per tax-related and commercial regulations, these data are deleted unless you have expressly consented to their further use.
                Disclosure</p>

                <p>According to the Federal Data Protection Act, you have a right to free-of-charge information about your stored data, and possibly entitlement to correction, blocking or deletion of such data. Inquiries can be directed to the following e-mail addresses: ( testse@test )</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    </footer>
</template>
