<template name="nav">
    <header>
        <nav>
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="">Dashboard</a></li>
                    <li><a href="">Results</a></li>
                    <li><a href="">Settings</a></li>
                </ul>
            </div>
        </nav>
        <h1>Food Intolerance App</h1>
    </header>
</template>
