.add-symptoms{
  .intensity{
    margin-bottom: 30px;
  }
  .picker__frame{
    width: 100%;
    max-width: 400px;
  }
}

.add-food{
  .stress{
    margin-bottom: 30px;
  }
}
#food-note, #symptom-note{
  padding: 0;
}
.irs{
  margin-top: 10px;
  .irs-grid-text{
    font-size: 11px;
  }
  .irs-from, .irs-to, .irs-single{
    background: $turqoise;
    font-size: 11px;
  }
  .irs-from:after, .irs-to:after, .irs-single:after{
    border-top-color: $turqoise;
  }
}
