.fc-left{
  h2{
    font-size: 30px;
  }
}
.fc-button{
  background-image: none;
  &:hover{
    background: #2BBBAD;
  }
  &:focus{
    background: #f5f5f5;
  }
}
.fc-toolbar {
  .fc-state-active{
    background: #2BBBAD;
  }
  .fc-left{
    @media screen and (max-width: $break-small) {
      width: 100%;
      margin-bottom: 15px;
    }
    h2 {
      font-size: 25px;
    }
  }
  .fc-center{
    @media screen and (max-width: $break-small) {
      display: block !important;
    }
  }
  .filter{
    height: 40px;
    width: 50%;
    display: inline-block;
    margin: 0;
    #search{
      margin: 0;
      border-bottom: 1px solid #000000;
      &:focus{
        border-bottom: 1px solid #000000;
      }
    }
    .ion-search{
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 22px;
    }
    .ion-close-round{
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}
.fc-view-container{
  .fc-scroller{
    height: auto !important;
    overflow: hidden !important;
  }
  .fc-event-container{
    margin: 0 5%;
    .fc-content{
      span.fc-title {
        display: block;
      }
      @media screen and (max-width: $break-small) {
        white-space: normal;
      }
    }
    .fc-day-grid-event{
      @media screen and (max-width: $break-small) {
        margin: 0;
      }
    }
  }
}
