/* CSS declarations go here */
html{
  height: 100%;
  body{
    height: 100%;
    #__blaze-root{
      .wrapper{
        height: auto;
        min-height: calc(80vh);
      }
    }
    input:not([type])[readonly="readonly"]{
      color: rgba(0, 0, 0, 0.87);
      border-bottom: 1px solid #9e9e9e;
    }
    label, .input-field label.active{
      font-size: 12px;
    }
    .at-result{
      margin: 0 15px;
      background: $turqoise;
      display: inline-block;
      color: #ffffff;
      padding: 10px 5px;
      border-radius: 5px;
    }
    a{
      @include transition(.6s);
    }
    .btn{
        border-radius: 5px;
        color: #ffffff;
        padding: 0 20px;
    }

    h5{
      font-weight: bold;
      margin: 25px 0 20px;
    }
    i{
      height: auto;
      line-height: 24px;
      display: inline;
      font-size: 25px;
    }
    .toast{
      i{
        font-size: 20px;
        margin-right: 10px;
      }
    }
  }
}
