.dashboard{
  .add-food, .add-symptoms, .list, .results{
    text-align: center;
    font-weight: 600;
    color: $black;
    font-size: 16px;
    .card-panel{
      @include transition(.5s);
      &:hover{
        opacity: 0.8;
      }
    }
    .icons{
      margin: 0 auto;
    }
    i{
      font-size: $icon-size-big;
    }
    .ion-knife, .ion-pizza{
      margin-right: 10px;
    }
  }
}
