.nav-wrapper{
  .brand-logo{
    @media screen and (min-width: $break-small) {
      left: 0;
      -webkit-transform: none;
      transform: none;
    }
  }
  li a, span{
    font-size: 18px;
    font-style: normal;
  }
  i{
    &:before{
      padding-right: 10px;
    }
  }
  .button-collapse{
    i{
      &:before{
        font-size: 45px;
      }
    }
  }
  .side-nav{
    .userView{
      background-color: $light-pink;
      padding: 0 20px;
    }
    .btn-sign-out{
      #at-nav-button{
        width: 130px;
      }
    }
  }
  .dropdown {
    position: relative;
    z-index: 9;
    .dropdown-list {
      display: none;
      position: absolute;
      padding: 0;
      right: 0;
      background-color: $bg-light-white;
      min-width: 170px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      li {
        width: 100%;
        a {
          width: 100%;
          color: $light-pink;
        }
      }
      #at-nav-button{
        padding: 0 27px;
      }
    }
  }
  .dropdown:hover .dropdown-list {
    display: block;
  }
}

footer{
  .modal{
    max-height: 100%;
  }
  .footer-copyright{
    .data_protection a{
      margin-left: 10px;
    }
  }
}
