.settings{
  .at-title{
    display: none;
  }
  .btn{
    padding: 0 8px;
    text-transform: none;
    margin-right: 15px;
  }
  .customPwdFormBtn{
    .input-field{
      display: inline-block;
    }
  }
}
