$bg-light-white: #f9f9f9;
$light-pink: #ee6e73;
$black: #000000;
$turqoise: #26a69a;
$dark-turqoise: #1e8c81;
$icon-size-big: 45px;
$white: #ffffff;
$light-blue: #29B6F6;
$light-orange: #FF8F00;
$yellow: #fdd835;
$green: #66BB6A;

$break-small: 600px;
$break-tablet: 922px;
$break-desktop: 922px;
