/* CSS declarations go here */
html {
  height: 100%;
}

html body {
  height: 100%;
}

html body #__blaze-root .wrapper {
  height: auto;
  min-height: calc(100vh - 154px);
}

html body input:not([type])[readonly="readonly"] {
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid #9e9e9e;
}

html body .at-result {
  margin: 0 15px;
  background: #26a69a;
  display: inline-block;
  color: #ffffff;
  padding: 10px 5px;
  border-radius: 5px;
}

html body a {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}

html body .btn {
  border-radius: 5px;
  color: #ffffff;
  padding: 0 20px;
}

html body h5 {
  font-weight: bold;
  margin: 25px 0 20px;
  display: inline-block;
}

html body i {
  height: auto;
  line-height: 24px;
  display: inline;
  font-size: 25px;
}

html body .toast i {
  font-size: 20px;
  margin-right: 10px;
}

.settings .at-title {
  display: none;
}

.settings .btn {
  padding: 0 8px;
  text-transform: none;
  margin-right: 15px;
}

.settings .customPwdFormBtn .input-field {
  display: inline-block;
}

.dashboard .add-food, .dashboard .add-symptoms, .dashboard .list, .dashboard .results {
  text-align: center;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
}

.dashboard .add-food .card-panel, .dashboard .add-symptoms .card-panel, .dashboard .list .card-panel, .dashboard .results .card-panel {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.dashboard .add-food .card-panel:hover, .dashboard .add-symptoms .card-panel:hover, .dashboard .list .card-panel:hover, .dashboard .results .card-panel:hover {
  opacity: 0.8;
}

.dashboard .add-food .icons, .dashboard .add-symptoms .icons, .dashboard .list .icons, .dashboard .results .icons {
  margin: 0 auto;
}

.dashboard .add-food i, .dashboard .add-symptoms i, .dashboard .list i, .dashboard .results i {
  font-size: 45px;
}

.dashboard .add-food .ion-knife, .dashboard .add-food .ion-pizza, .dashboard .add-symptoms .ion-knife, .dashboard .add-symptoms .ion-pizza, .dashboard .list .ion-knife, .dashboard .list .ion-pizza, .dashboard .results .ion-knife, .dashboard .results .ion-pizza {
  margin-right: 10px;
}

.results .info-icon {
  display: inline;
  float: left;
}

@media screen and (max-width: 600px) {
  .results .info-icon {
    float: none;
    display: block;
  }
}

.results .info-box {
  border: 1px solid #666666;
  border-radius: 5px;
  font-weight: 500;
  padding: 10px;
  max-width: 405px;
  width: 100%;
  margin-bottom: 20px;
}

.results .info-box .info-text {
  display: inline;
}

.results .info-box i {
  vertical-align: middle;
  padding-right: 5px;
}

.results h6 {
  font-weight: 500;
  font-size: 21px;
}

.results .week {
  font-weight: 500;
  font-size: 18px;
}

.results .symptom-course {
  margin-top: 40px;
  margin-bottom: 40px;
}

.results .food-intolerance h6, .results .symptom-course h6 {
  float: left;
}

.results .food-intolerance .info-icon, .results .symptom-course .info-icon {
  float: none;
  margin: 5px 0 0 10px;
  display: inline-block;
}

.results .food-intolerance .info-icon:hover + .info-box, .results .symptom-course .info-icon:hover + .info-box {
  display: block;
}

.results .food-intolerance .info-box, .results .symptom-course .info-box {
  display: none;
  margin-top: 15px;
  max-width: 424px;
}

.results .ct-perfect-fourth > svg {
  position: relative;
  min-height: 350px;
}

@media screen and (max-width: 600px) {
  .results .ct-perfect-fourth > svg {
    min-height: 250px;
  }
}

.results .ct-perfect-fourth:before {
  padding-bottom: 0;
}

.results .ct-perfect-fourth .ct-series-a .ct-line, .results .ct-perfect-fourth .ct-series-a .ct-point {
  stroke: #FF8F00;
}

.results .ct-perfect-fourth .ct-series-a .ct-bar {
  stroke: #29B6F6;
  stroke-width: 25px;
}

.results .ct-perfect-fourth .ct-series-b .ct-line, .results .ct-perfect-fourth .ct-series-b .ct-point {
  stroke: #f44336;
}

.results .ct-perfect-fourth .ct-label.ct-vertical.ct-start, .results .ct-perfect-fourth .ct-label.ct-horizontal.ct-end {
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .results .legende {
    width: 300px;
  }
}

.results .legende .ct-series-a {
  background: #FF8F00;
}

.results .legende .ct-series-b {
  background: #f44336;
}

.results .legende .ct-series-c {
  background: #fdd835;
}

.results .legende .circle {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.results .legende span {
  margin-right: 20px;
}

.add-symptoms .intensity {
  margin-bottom: 30px;
}

.add-food .stress {
  margin-bottom: 30px;
}

.add-symptoms .notes, .add-food .notes {
  padding: 0;
}

text {
  display: none;
}

#updateSymptoms:hover i.ion-edit, #updateFood:hover i.ion-edit {
  background-color: #2bbbad !important;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("/fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot");
  src: url("/fonts/roboto_thin_macroman/Roboto-Thin-webfont.eot?") format("embedded-opentype"), url("/fonts/roboto_thin_macroman/Roboto-Thin-webfont.woff") format("woff"), url("/fonts/roboto_thin_macroman/Roboto-Thin-webfont.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("/fonts/roboto_light_macroman/Roboto-Light-webfont.eot");
  src: url("/fonts/roboto_light_macroman/Roboto-Light-webfont.eot?") format("embedded-opentype"), url("/fonts/roboto_light_macroman/Roboto-Light-webfont.woff") format("woff"), url("/fonts/roboto_light_macroman/Roboto-Light-webfont.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("/fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot");
  src: url("/fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?") format("embedded-opentype"), url("/fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff") format("woff"), url("/fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Medium), url("/fonts/roboto_medium_macroman/Roboto-Medium-webfont.eot");
  src: url("/fonts/roboto_medium_macroman/Roboto-Medium-webfont.eot?") format("embedded-opentype"), url("/fonts/roboto_medium_macroman/Roboto-Medium-webfont.woff") format("woff"), url("/fonts/roboto_medium_macroman/Roboto-Medium-webfont.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Bold), url("/fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot");
  src: url("/fonts/roboto_bold_macroman/Roboto-Bold-webfont.eot?") format("embedded-opentype"), url("/fonts/roboto_bold_macroman/Roboto-Bold-webfont.woff") format("woff"), url("/fonts/roboto_bold_macroman/Roboto-Bold-webfont.ttf") format("truetype");
  font-weight: 700;
}

.list .modal {
  width: 100%;
  max-width: 450px;
  text-align: center;
}

.fc-left h2 {
  font-size: 22px;
}

.eventBtn .btn {
  margin-left: 10px;
}

.fc-button {
  background-image: none;
}

.fc-button:hover {
  background: #2BBBAD;
}

.fc-button:focus {
  background: #f5f5f5;
}

.fc-toolbar .fc-state-active {
  background: #2BBBAD;
}

@media screen and (max-width: 600px) {
  .fc-toolbar .fc-left {
    width: 100%;
    margin-bottom: 15px;
  }
}

.fc-toolbar .fc-left h2 {
  font-size: 22px;
}

@media screen and (max-width: 600px) {
  .fc-toolbar .fc-center {
    display: block !important;
  }
}

@media screen and (max-width: 700px) {
  .fc-toolbar .fc-center .fc-month-button {
    display: none;
  }
  .fc-toolbar .fc-center .fc-listWeek-button {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

.fc-toolbar .legende {
  min-height: 20px;
  margin-top: 10px;
}

.fc-toolbar .legende span {
  padding: 0;
  margin: 10px 15px 0 5px;
}

.fc-toolbar .legende .circle {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.fc-toolbar .legende .food {
  background: #29B6F6;
}

.fc-toolbar .legende .symptoms {
  background: #FF8F00;
  margin-left: 10px;
}

.fc-view-container .fc-scroller {
  height: auto !important;
  overflow: hidden !important;
}

.fc-view-container .fc-scroller .fc-list-item:hover td {
  background: #ffffff;
}

.fc-view-container .fc-event-container {
  margin: 0 5%;
}

.fc-view-container .fc-event-container .fc-content span.fc-title {
  display: block;
}

@media screen and (max-width: 600px) {
  .fc-view-container .fc-event-container .fc-content {
    white-space: normal;
  }
}

.fc-view-container .fc-event-container .fc-day-grid-event:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .fc-view-container .fc-event-container .fc-day-grid-event {
    margin: 0;
  }
}

.fc-view-container .fc-event-container .fc-day-grid-event .fc-content {
  white-space: normal;
  overflow: hidden;
  margin: 5px;
}

@media screen and (min-width: 600px) {
  .nav-wrapper .brand-logo {
    left: 0;
    -webkit-transform: none;
    transform: none;
  }
}

.nav-wrapper li a, .nav-wrapper span {
  font-size: 18px;
  font-style: normal;
}

.nav-wrapper i:before {
  padding-right: 10px;
}

.nav-wrapper .button-collapse i:before {
  font-size: 45px;
}

.nav-wrapper .dropdown {
  position: relative;
  z-index: 9;
}

.nav-wrapper .dropdown .dropdown-list {
  display: none;
  position: absolute;
  padding: 0;
  right: 0;
  background-color: #f9f9f9;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-wrapper .dropdown .dropdown-list li {
  width: 100%;
}

.nav-wrapper .dropdown .dropdown-list li a {
  width: 100%;
  color: #ee6e73;
}

.nav-wrapper .dropdown .dropdown-list #at-nav-button {
  padding: 0 27px;
}

.nav-wrapper .dropdown:hover .dropdown-list {
  display: block;
}

.side-nav .userView {
  background-color: #ee6e73;
  padding: 0 20px;
}

.side-nav li a {
  padding: 0 20px;
}

.side-nav li a i {
  padding-right: 10px;
}

.side-nav .btn-sign-out #at-nav-button {
  width: 140px;
}

footer .modal {
  max-height: 100%;
}

footer .title {
  font-weight: 600;
  font-size: 16px;
}

footer .footer-copyright .data_protection a {
  margin-left: 10px;
}

/** date time picker **/
.picker__frame {
  width: 100%;
  max-width: 400px;
}

@media screen and (max-width: 600px) {
  .picker__frame {
    max-width: 330px;
  }
}

div.lolliclock-popover {
  width: 290px;
}

/** materialize-tags **/
.materialize-tags {
  margin-bottom: 20px;
}

.materialize-tags .tt-input {
  font-weight: 400;
}

.materialize-tags .tag.badge {
  background: #26a69a;
}

.materialize-tags .tag.badge .mdi-content-clear {
  transition: 500ms;
}

.materialize-tags .tag.badge .mdi-content-clear:hover {
  background: #1e8c81;
}

.materialize-tags .tag.badge .mdi-content-clear[data-role=remove]:before {
  content: "x";
  font-size: 16px;
  font-weight: bold;
  padding: 0 5px;
}

/** typeaheadJs **/
.twitter-typeahead .visuallyhidden {
  display: none;
}

.twitter-typeahead .tt-menu {
  background: #ffffff;
  width: 100%;
  min-width: 200px;
  text-align: left;
  padding: 0 15px;
  border: 1px solid #26a69a;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 2px;
  font-weight: 400;
}

.twitter-typeahead .tt-menu .tt-cursor {
  cursor: pointer;
  background: #26a69a;
  color: #ffffff;
  font-weight: 400;
}

/** ionRangeSlider **/
.irs {
  margin-top: 10px;
}

.irs .irs-grid-text {
  font-size: 11px;
}

.irs .irs-from, .irs .irs-to, .irs .irs-single {
  background: #26a69a;
  font-size: 11px;
  cursor: pointer;
}

.irs .irs-from:after, .irs .irs-to:after, .irs .irs-single:after {
  border-top-color: #26a69a;
}

.irs .irs-line {
  background: url(../img/slider.png) no-repeat;
  background-position: 0 0;
  background-size: 100%;
}

.irs .irs-bar, .irs .irs-bar-edge, .irs .irs-line-mid, .irs .irs-line-left, .irs .irs-line-right {
  background: none;
}

.irs .irs-slider {
  background: url(../img/sprite-skin-flat.png) no-repeat;
  background-position: -1px -120px;
  background-size: inherit;
}

.irs .irs-slider:hover {
  background-position: -1px -150px;
  cursor: pointer;
}
