/* CSS declarations go here */
html {
  height: 100%;
}

html body {
  height: 100%;
  /** date time picker **/
}

html body #__blaze-root .wrapper {
  height: auto;
  min-height: calc(100vh - 135px);
}

html body a {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
}

html body .btn {
  border-radius: 5px;
}

html body .nav-wrapper li a, html body .nav-wrapper span {
  font-size: 18px;
  font-style: normal;
}

html body .nav-wrapper .dropdown {
  position: relative;
  z-index: 9;
}

html body .nav-wrapper .dropdown i {
  height: auto;
  line-height: 24px;
  display: inline;
}

html body .nav-wrapper .dropdown .dropdown-list {
  display: none;
  position: absolute;
  padding: 0;
  background-color: #f9f9f9;
  min-width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

html body .nav-wrapper .dropdown .dropdown-list li {
  width: 100%;
}

html body .nav-wrapper .dropdown .dropdown-list li a {
  width: 100%;
  color: #ee6e73;
}

html body .nav-wrapper .dropdown .dropdown-list #at-nav-button {
  padding: 0 28px;
}

html body .nav-wrapper .dropdown:hover .dropdown-list {
  display: block;
}

html body .picker__frame {
  width: 100%;
  max-width: 400px;
}

html body div.lolliclock-popover {
  width: 290px;
}

html body .irs {
  margin-top: 10px;
}

html body .irs .irs-grid-text {
  font-size: 11px;
}

html body .irs .irs-from, html body .irs .irs-to, html body .irs .irs-single {
  background: #26a69a;
  font-size: 11px;
}

html body .irs .irs-from:after, html body .irs .irs-to:after, html body .irs .irs-single:after {
  border-top-color: #26a69a;
}

html body footer .modal {
  max-height: 100%;
}

html body footer .footer-copyright .data_protection a {
  margin-left: 10px;
}

.settings .at-title {
  display: none;
}

.settings .btn {
  padding: 0 8px;
  text-transform: none;
  margin-right: 15px;
}

.settings .customPwdFormBtn .input-field {
  display: inline-block;
}

.dashboard .add-food, .dashboard .add-symptoms, .dashboard .list, .dashboard .results {
  text-align: center;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
}

.dashboard .add-food .card-panel, .dashboard .add-symptoms .card-panel, .dashboard .list .card-panel, .dashboard .results .card-panel {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

.dashboard .add-food .card-panel:hover, .dashboard .add-symptoms .card-panel:hover, .dashboard .list .card-panel:hover, .dashboard .results .card-panel:hover {
  opacity: 0.8;
}

.dashboard .add-food .icons, .dashboard .add-symptoms .icons, .dashboard .list .icons, .dashboard .results .icons {
  margin: 0 auto;
}

.dashboard .add-food i, .dashboard .add-symptoms i, .dashboard .list i, .dashboard .results i {
  font-size: 45px;
}

.dashboard .add-food .ion-knife, .dashboard .add-food .ion-pizza, .dashboard .add-symptoms .ion-knife, .dashboard .add-symptoms .ion-pizza, .dashboard .list .ion-knife, .dashboard .list .ion-pizza, .dashboard .results .ion-knife, .dashboard .results .ion-pizza {
  margin-right: 10px;
}

@media screen and (min-width: 992px) {
  .results .modal {
    width: 35%;
  }
}

.add-symptoms .intensity {
  margin-bottom: 30px;
}

.add-food .stress {
  margin-bottom: 30px;
}

.add-symptoms .notes, .add-food .notes {
  padding: 0;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Thin), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Thin.eot");
  src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Thin.eot?") format("embedded-opentype"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Thin.woff") format("woff"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Light.eot");
  src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Light.eot?") format("embedded-opentype"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Light.woff2") format("woff2"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Light.woff") format("woff"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Regular.eot");
  src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Regular.eot?") format("embedded-opentype"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Regular.woff") format("woff"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Medium.eot");
  src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Medium.eot?") format("embedded-opentype"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Medium.woff") format("woff"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Bold.eot");
  src: url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Bold.eot?") format("embedded-opentype"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Bold.woff") format("woff"), url("packages/materialize_materialize/dist/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}
